<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Club's Points | GUDLFT</title>
		<style>
			#points td,
			#points th {
				border: 1px dashed blue;
				padding: 5px;
			}
			#points td:nth-child(2) {
				text-align: right;
			}
		</style>
	</head>
	<body>
		<h2>List of CLubs</h2>
		{% with messages = get_flashed_messages() %} {% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{message}}</li>
			{% endfor %}
		</ul>
		{% endif %}
		<h3>Clubs's Points :</h3>
		<table id="points">
			<tr>
				<th>Nom Club</th>
				<th>Nombre Points</th>
			</tr>
			{% for club in clubs %}
			<tr>
				<td>{{ club["name"] }}</td>
				<td>{{ club["points"] }}</td>
			</tr>
			{% endfor %}
		</table>
		<hr />
		{% endwith %}
	</body>
</html>
